/* Grid System */
  * { box-sizing: border-box; }
  body { margin: 0px; }
  table { table-layout: fixed; }
  .jb-container { margin: 0px auto; }
  .jb-row:before { display: table; content: " "; }
  .jb-row:after { display: table; content: " "; clear: both; }
  .jb-clearfix:before { display: table; content: " "; }
  .jb-clearfix:after { display: table; content: " "; clear: both; }
/* Grid System */

/* Layout */
  .jb-container { padding: 0px 20px; }
  .jb-row { margin: 0px -20px; }
  .jb-column { padding: 0px 20px; }
  @media ( min-width: 768px ) {
    .jb-container { width: 768px; }
  }
  @media ( min-width: 1024px ) {
    .jb-container { width: 1020px; padding: 0px 30px; }
    .jb-row { margin: 0px -15px; }
    .jb-column { padding: 0px 15px; }
    .jb-column-content { width: 660px; float: left; }
    .jb-column-sidebar-right { width: 330px; float: right; }
  }
  @media ( min-width: 1025px ) {
    .jb-container { width: 1118px; }
    .jb-column-content { width: 758px; }
    .jb-column-sidebar-right { width: 330px ; }
  }
/* Layout */

/* Typography*/
body { line-height: 1.7; font-size: 14px; font-family: "RIDI Batang", sans-serif; font-weight: 400; color: #444444; word-break: break-all; }
h1, h2, h3, h4, h5, h6 { margin: 20px 0px; line-height: 1.4; font-family: "RIDI Batang", "Noto Sans KR", sans-serif; font-weight: 700; color: #333333; }
h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
a { outline: none; text-decoration: none; color: #337ab7; }
a:hover { color: #23527c; }
p { margin: 5px 0px; }
blockquote { margin: 20px 0px; padding-left: 15px; border-left: 10px solid #dadada; font-style: italic; color: #777777; }
ol, ul { padding-left: 24px; }
ol li, ul li { margin: 4px 0px; }
pre, code { font-family: Consolas, "Source Code Pro", Menlo, Monaco, "Courier New", "Nanum Gothic Coding", monospace; }
pre { margin: 20px 0px; padding: 6px 12px; border-top: 2px solid #dedede; border-bottom: 2px solid #dedede; background-color: #fafafa; line-height: 1.8; font-size: 13px; white-space: pre-wrap; text-align: left; overflow: auto; -moz-tab-size: 2; tab-size: 2; }
/* Typography*/

/* Media */
  img { max-width: 100%; height: auto; vertical-align: middle; }
  img.alignright, a img.alignright { float: right; margin: 0 0 1em 1em; }
  img.alignleft, a img.alignleft { float: left; margin: 0 1em 1em 0; }
  img.aligncenter, a img.aligncenter { display: block; margin: 20px auto; }
  .wp-caption { max-width: 100%; }
  p.wp-caption-text { margin: 5px 0px 20px 0px; padding: 0px 10px; text-align: center; font-style: italic; color: #666666; }
  .jb-youtube-16x9 { position: relative; width: 100%; padding-bottom: 56.25%; }
  .jb-youtube-16x9 iframe { position: absolute; width: 100%; height: 100%; }
/* Media */

/* Form */
  input[type="text"], input[type=submit], input[type=email], button, textarea { -webkit-appearance: none; border-radius: 0px; font-family: inherit; font-size: inherit; }
  input[type="text"]:focus, input[type=submit]:focus, input[type=email]:focus, button:focus, textarea:focus { outline: none; }
/* Form */

/* Hide */
  .jb-section-title { display: none; }
/* Hide */

/* Header */
  .jb-header-table { border-bottom: 1px solid #dadada; }
  .jb-header-mobile-table { display: table; width: 100%; }
  .jb-header-mobile-table-row { display: table-row; }
  .jb-header-mobile-table-cell { display: table-cell; vertical-align: middle; }
  h1.jb-site-title { line-height: 1; font-size: 22px; font-family: "Noto Serif", "RIDI Batang", sans-serif; font-weight: 700; }
  h1.jb-site-title a { color: #333333; }
  #jb-bars { line-height: 0; text-align: right; font-size: 28px; }
  #jb-bars i { cursor: pointer; }
  .jb-header-table-cell-search { display: none; }
  .jb-cell-search { border-top: 1px solid #dadada; }
  .jb-search-table { display: table; width: 300px; margin: 10px auto; }
  .jb-search-table-row { display: table-row; }
  .jb-search-table-cell { display: table-cell; vertical-align: middle; }
  .jb-search-table-cell-input { width: 99%; }
  .jb-search-table-cell-input input { width: 100%; height: 40px; border: none; border-bottom: 1px solid #dadada; font-size: inherit; }
  .jb-search-table-cell-button button { width: 40px; height: 40px; border: none; border-bottom: 1px solid #dadada; background-color: #ffffff; font-size: 24px; cursor: pointer; }
  .jb-sns-wrap { margin: 20px 0px; text-align: center; line-height: 1; }
  .jb-sns-wrap a { display: inline-block; width: 40px; height: 40px; padding: 7px 0px 9px 0px; border: 1px solid #dadada; font-size: 24px; color: #3B579D; transition: all ease 0.2s; }
  .jb-sns-wrap a:hover { border: 1px solid #3B579D; background-color: #3B579D; color: #ffffff; }
  @media ( min-width: 1024px ) {
    .jb-search-table { margin: 0px 0px; }
    .jb-cell-search { display: inline-block; vertical-align: bottom; border-top: none; }
    .jb-header-table { display: table; width: 100%; }
    .jb-header-table-row { display: table-row; }
    .jb-header-table-cell { display: table-cell; vertical-align: middle; }
    h1.jb-site-title { margin: 40px 0px; }
    .jb-header-mobile-table-cell-bars { display: none; }
    .jb-header-table-cell-search { display: table-cell !important; text-align: right; }
    .jb-sns-wrap { display: inline-block; margin: 0px 0px 0px 4px; }
  }
/* Header */

/* Navigation */
  .jb-cell-navigation { display: none; border-bottom: 1px solid #dadada; }
  ul#jb-main-menu { margin: 0px 0px; padding: 10px 0px; list-style-type: none; }
  ul#jb-main-menu:before { display: table; content: " "; }
  ul#jb-main-menu:after { display: table; content: " "; clear: both; }
  ul#jb-main-menu > li { display: block; margin: 0px 0px; }
  ul#jb-main-menu > li > a { display: block; padding: 3px 6px; color: #333333; font-weight: 500; }
  ul#jb-main-menu > li.menu-item-has-children > a { cursor: pointer; }
  ul#jb-main-menu > li > ul { display: none; }
  ul#jb-main-menu > li > ul > li { list-style-type: none; margin: 0px 0px; }
  ul#jb-main-menu > li > ul > li > a { display: block; padding: 3px 6px; color: #333333; font-weight: 500; }
  @media ( min-width: 1024px ) {
    .jb-cell-navigation { display: block !important; }
    ul#jb-main-menu { padding: 0px 0px; }
    ul#jb-main-menu > li { display: inline-block; position: relative; }
    ul#jb-main-menu > li > a { padding: 10px 6px; }
    ul#jb-main-menu > li > ul { position: absolute; top: 100%; left: 0px; z-index: 999999; padding: 0px; min-width: 180px; border-top: 1px solid #dadada; background-color: #333333; }
    ul#jb-main-menu > li > ul > li > a { display: block; padding: 6px 12px; border-bottom: 1px solid #444444; color: #ffffff; font-weight: 500; transition: all ease 0.2s; }
    ul#jb-main-menu > li > ul > li > a:hover { background-color: #222222; }
  }
/* Navigation */

/* Content */
  .jb-cell-content { margin: 20px 0px; }
  h1.jb-content-title { text-align: center; font-size: 18px; }
  h1.jb-content-title a { color: #333333; }
  .jb-post-info { margin: 20px 0px; padding: 20px 2px 0px 2px; border-top: 1px solid #dadada; }
  span.jb-post-info-category a:before { content: "#"; margin-right: 6px; font-weight: bold; }
  span.jb-post-info-tag { margin: 0px 0px 0px 10px; }
  span.jb-post-info-tag a { display: inline-block; margin-right: 10px; }
  span.jb-post-info-tag a:before { content: "#"; margin-right: 6px; font-weight: bold; }
  .jb-content { margin: 20px 0px; }
/* Content */

/* Footer */
  .jb-cell-footer { border-top: 1px solid #dadada; }
  p.jb-copyright { margin: 20px 0px; text-align: center; font-size: 14px; }
/* Footer */

/* JB Style */
  h2.jb-heading { margin: 30px 0px 20px 0px; padding: 15px 10px 15px 20px; border-left: 5px solid #444444; background-color: #fafafa; font-size: 15px; font-weight: 400; overflow-x: auto; }
  h3.jb-heading { padding: 0px 0px 10px 0px; border-bottom: 3px solid #888888; font-family: "RIDI Batang", sans-serif; font-size: 15px; font-weight: 400; }
  h4.jb-heading { padding: 0px 0px 10px 0px; border-bottom: 1px solid #666666; font-family: "RIDI Batang", sans-serif; font-size: 14px; font-weight: 400; }
  h3.jb-content-heading { margin: 30px 0px 20px 0px; padding: 15px 10px 15px 20px; border-left: 5px solid #2196f3; background-color: #e3f2fd; font-size: 16px; font-weight: 400; overflow-x: auto; }
  h4.jb-content-heading { padding: 0px 0px 10px 0px; border-bottom: 1px solid #2196f3; font-family: "Noto Sans KR", sans-serif; font-size: 16px; font-weight: 500; }
  div.jb-more-info { margin: 20px 0px; padding: 5px 20px; border: 5px solid #eeeeee; border-radius: 10px; background-color: #fcfcfc; }
  div.jb-more-info ol, div.jb-more-info ul { padding-left: 20px; }
  div.jb-tip { position: relative; margin: 25px 0px 20px 0px; padding: 20px 20px 1px 20px; border: 5px solid #eeeeee; border-radius: 10px; background-color: #ffffff; }
  div.jb-tip:before { content: "TIP"; position: absolute; top: -15px; margin: 0px; padding: 3px 10px; border-radius: 3px; background-color: #666666; color: #ffffff; font-weight: 800; font-size: 14px; font-family: "Noto Serif", sans-serif; }
  ul.jb-related-post { margin: 30px 0px; padding: 0px 15px 10px 35px; border: 5px solid #eeeeee; border-radius: 10px; }
  ul.jb-related-post:before { content: "같이 보면 좋은 글"; display: block; margin: 0px 0px 15px -20px; padding: 8px 0px; border-bottom: 1px solid #eeeeee; font-weight: 700; }
  ul.jb-related-post li { margin: 5px 0px; }
/* JB Style */

/* Pagination */
  ul.page-numbers { margin: 30px 0px; padding: 0px; font-family: "PT Sans", sans-serif; font-weight: 500; }
  ul.page-numbers li { display: inline-block; margin: 4px 0px; }
  ul.page-numbers li a, ul.page-numbers li span { display: block; padding: 5px 15px; border: 1px solid #dadada; }
  ul.page-numbers li span.current { border-color: #444444; background-color: #444444; color: #ffffff; }
/* Pagination */

/* 404 */
  h1.jb-404 { margin: 100px 0px; text-align: center; font-size: 32px; color: #999999; }
/* 404 */

/* Index */
  .jb-index-column { border-bottom: 1px solid #dadada; }
  .jb-index-table { display: table; width: 100%; margin: 20px 0px; table-layout: fixed; }
  .jb-index-table-row { display: table-row; }
  .jb-index-table-cell { display: table-cell; vertical-align: top; }
  .jb-index-table-cell-thumbnail { width: 125px; padding: 0px 20px 0px 0px; }
  .jb-index-table-cell-thumbnail img { border: 1px solid #dadada; }
  h2.jb-index-title { margin: 2px 0px 10px 0px; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
  h2.jb-index-title a { color: #222222; }
  .jb-index-excerpt a { color: #666666; }
  .jb-index-excerpt a:hover { color: #222222; }
  .jb-index-excerpt p { margin: 0px 0px; line-height: 1.7; font-size: 14px; max-height: 5.1em; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
/* Index */

/* Related Posts */
  .jb-lcp-01 .jb-lcp-table { display: table; width: 100%; margin: 20px 0px; table-layout: fixed; }
  .jb-lcp-01 .jb-lcp-table-row { display: table-row; }
  .jb-lcp-01 .jb-lcp-table-cell { display: table-cell; vertical-align: top; }
  .jb-lcp-01 .jb-lcp-table-cell-thumbnail { width: 125px; padding: 0px 20px 0px 0px; }
  .jb-lcp-01 .jb-lcp-table-cell-thumbnail img { border: 1px solid #dadada; }
  .jb-lcp-01 .jb-lcp-table-cell-info p.jb-lcp-title { margin: 2px 0px 6px 0px; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
  .jb-lcp-01 .jb-lcp-table-cell-info p.jb-lcp-title a { color: #222222; }
  .jb-lcp-01 .jb-lcp-table-cell-info p.lcp_excerpt { margin: 0px 0px; line-height: 1.7; font-size: 14px; color: #666666; max-height: 5.1em; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
/* Related Posts */

/* Top Button */
  a.jb-top { position: fixed; right: 15px; bottom: 15px; z-index: 9999; display: none; width: 48px; padding: 10px 0px; border-radius: 0px; background-color: #212121; background-color: rgba(50, 50, 50, 0.8); text-align: center; line-height: 1; font-size: 28px; color: #ffffff; }
  a.jb-top:hover { background-color: rgba(0, 0, 0, 0.8); color: #ffffff; }
/* Top Button */

/* Home */
  .home h2.jb-content-title { display: none; }
  p.jb-home-title { margin: 0px; padding-bottom: 20px; border-bottom: 1px solid #dadada; line-height: 1.4; font-family: "Noto Sans KR", sans-serif; font-weight: 500; font-size: 18px; }
  .jb-row-home ul { margin: 0px 0px 20px 0px; padding: 0px; list-style-type: none; }
  .jb-row-home ul li { margin: 0px; }
  .jb-row-home ul li a { display: block; padding: 10px 2px; color: #333333; border-bottom: 1px solid #eeeeee; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
  @media ( min-width: 768px ) {
    .jb-row-home { margin: 20px -15px -20px -15px; }
    .jb-row-home:after { display: block; content: " "; clear: both; }
    .jb-column-home { float: left; width: 50%; padding: 0px 15px; }
    .jb-column-home:nth-child(2n+1) { clear: both; }
  }
/* Home */

/* Sidebar - Content Bottom */
  h1.jb-widget-title-content-bottom { margin-bottom: 0px; padding-bottom: 0px; border-bottom: 1px solid #444444; font-size: 14px; font-weight: 400; }
  h1.jb-widget-title-content-bottom span { display: inline-block; padding: 10px 15px; background-color: #444444; color: #ffffff; }
  .jb-widget-content-bottom ul { margin: 0px; padding: 0px; list-style-type: none; }
  .jb-widget-content-bottom ul li { margin: 0px; }
  .jb-widget-content-bottom ul li a { display: block; padding: 10px 2px; color: #333333; border-bottom: 1px solid #eeeeee; }
/* Sidebar - Content Bottom */

/* Sidebar - Right */
  .jb-widget-sidebar-right { margin: 20px 0px; }
  h1.jb-widget-title-sidebar-right { margin: 20px 0px 0px 0px; padding-bottom: 15px; border-bottom: 1px solid #dadadada; font-size: 18px; }
  .jb-widget-sidebar-right ul { margin: 0px; padding: 0px; list-style-type: none; }
  .jb-widget-sidebar-right ul li { margin: 0px; font-size: 14px; line-height: 1.6; }
  .jb-widget-sidebar-right ul li a { display: block; padding: 10px 2px; color: #333333; border-bottom: 1px solid #eeeeee; }
/* Sidebar - Right */

/* Sidebar - Right - Menu */
  .jb-widget-sidebar-right ul.menu { margin: 10px 0px; }
  .jb-widget-sidebar-right ul.menu li a { padding: 4px 0px; border: none; }
  .jb-widget-sidebar-right ul.menu li a:before { content: "\e913"; font-family: xeicon; position: relative; top: 0.5px; margin-right: 8px; color: #999999; }
  .jb-widget-sidebar-right ul.menu li ul { padding-left: 22px; }
  .jb-widget-sidebar-right ul.menu li ul li ul { padding-left: 14px; }
  .jb-widget-sidebar-right ul.menu li ul li a:before { display: none; }
  .jb-widget-sidebar-right ul.menu > li > a { font-weight: 700; cursor: pointer; }
  .jb-widget-sidebar-right ul.menu > li > ul { display: none; }
  .jb-widget-sidebar-right ul.menu > li > ul.jb-menu-has-active { display: block; }
  .jb-widget-sidebar-right ul.menu > li > ul li.current-menu-item a { font-weight: 400; color: #1565C0; }
  .jb-widget-sidebar-right ul.menu li.jb-menu-inline ul li { display: inline-block; margin-right: 6px; }
  .jb-widget-sidebar-right ul.menu li.jb-menu-inline ul li a { display: inline-block; padding: 1px 0px; }
/* Sidebar - Right - Menu */

/* Menu In Post or Page */
  .jb-content ul.menu { padding: 0px; }
  .jb-content ul.menu li { margin: 8px 0px; list-style-type: none; }
  .jb-content ul.menu li ul { padding-left: 20px; }
  .jb-content ul.menu li ul li { list-style-type: disc; }
  .jb-content ul.menu a.jb-menu-no-link { color: #333333; }
  .jb-content ul.menu a.jb-menu-no-link:hover { color: #333333; }
  .jb-content ul.menu > li > a { display: block; margin: 10px 0px 20px 0px; padding: 10px 0px; border-bottom: 1px solid #dadada; font-weight: bold; }
  .jb-content ul.menu li.jb-menu-inline ul { padding-left: 0; }
  .jb-content ul.menu li.jb-menu-inline ul li { display: inline-block; margin: 1px 6px 1px 0px; }
  .jb-content ul.menu li.jb-menu-inline ul li a { display: inline-block; padding: 1px 0px; }
/* Menu In Post or Page */

/* Tag Cloud */
  .tagcloud { margin: 10px 0px; }
  .tagcloud a { display: inline-block; padding: 2px 4px; margin-right: 6px; font-size: 14px !important; color: #333333; }
  .tagcloud a:before { content: "#"; margin-right: 5px; }
/* Tag Cloud */

/* TOC */
  #toc_container { width: 100% !important; margin: 20px 0px; padding: 0px 16px; border: 1px solid #dadada; background-color: transparent; }
  #toc_container p.toc_title { margin: 10px 0px; padding-bottom: 10px; border-bottom: 1px solid #dadada; text-align: center; font-size: 16px; font-family: "Noto Sans KR", sans-serif; font-weight: 500; }
  #toc_container > ul { margin: 16px 0px; }
  #toc_container ul li { margin: 4px 0px; }
  #toc_container a:hover { text-decoration: none; }
  #toc_container a .toc_number { margin-right: 4px; color: #333333; }
  #toc_container.no_bullets ul { list-style-type: none; }
  #toc_container.no_bullets > ul { padding-left: 4px; }
  #toc_container.no_bullets > ul > li > ul { padding-left: 20px; }
/* TOC */

/* AdSense F */
  .jb-adsense-f,
  .jb-adsense-f-left ins { display: none; }
  @media ( min-width: 1778px ) and ( min-height: 800px ) {
    .jb-adsense-f,
    .jb-adsense-f ins { display: block; }
    .jb-adsense-f { position: absolute; top: 102px; left: 50%; z-index: 999; width: 300px; height: 600px; }
    .jb-adsense-f-left { margin-left: -859px; }
    .jb-adsense-f-right { margin-left: 559px; }
    .jb-adsense-f-fix { position: fixed; top: 30px; }
    .admin-bar .jb-adsense-f { top: 134px; }
    .admin-bar .jb-adsense-f-fix { top: 60px; }
  }
/* AdSense F */

/* AdSense Only Mobile */
  @media ( min-width: 1025px ) {
    .jb-adsense-only-mobile ins { display: none !important; }
  }
/* AdSense Only Mobile */

/* Enlighter */
  .jb-content .enlighter-default { margin: 20px 0px; font-family: Consolas, "Source Code Pro", Menlo, Monaco, "Courier New", "Nanum Gothic Coding", monospace; }
  .jb-content div.enlighter > div > div { padding: 0px; line-height: 1.8; }
  .jb-content .enlighter-t-minimal { background-color: #fafafa; padding: 10px 10px; }
  .jb-content .enlighter-t-minimal .enlighter-x2,
  .jb-content .enlighter-t-minimal .enlighter-k3,
  .jb-content .enlighter-t-minimal .enlighter-s0 { border-bottom: none; }
  .jb-content .enlighter-t-minimal div.enlighter > div.enlighter-special { background-color: #dddddd; }
  .jb-content div.enlighter > div > div::before { content: ""; }
/* Enlighter */

/* Software Special Offers */
  .menu-software-special-offers a { color: #1976d2 !important; }
  .jb-contact-form-quote { margin: 20px 0px; }
  .jb-contact-form-quote input[type="text"],
  .jb-contact-form-quote input[type="email"],
  .jb-contact-form-quote input[type="submit"],
  .jb-contact-form-quote input[type="checkbox"],
  .jb-contact-form-quote textarea { font-family: inherit; font-size: inherit; }
  .jb-contact-form-quote input[type="text"],
  .jb-contact-form-quote input[type="email"] { width: 100%; padding: 5px 10px; border: none; background-color: #fafafa; }
  .jb-contact-form-quote-table-cell-product-quantity input[type="text"] { text-align: center; }
  .jb-contact-form-quote textarea { width: 100%; padding: 10px 10px; border: 1px solid #dadada; }
  .jb-contact-form-quote-table { display: table; width: 100%; border-top: 1px solid #dadada; }
  .jb-contact-form-quote-table-row { display: table-row; }
  .jb-contact-form-quote-table-cell { display: table-cell; padding: 10px 5px; border-bottom: 1px solid #dadada; }
  .jb-contact-form-quote-table-product { margin-bottom: 5px; }
  .jb-contact-form-quote-table-cell-product-name-th,
  .jb-contact-form-quote-table-cell-product-price-th,
  .jb-contact-form-quote-table-cell-product-quantity-th { padding: 12px 5px; background-color: #fafafa; text-align: center; font-family: "Noto Sans KR", sans-serif; font-weight: 500; }
  .jb-contact-form-quote-table-cell-product-price-th { width: 120px; }
  .jb-contact-form-quote-table-cell-product-quantity-th { width: 80px; }
  .jb-contact-form-quote-table-cell-product-price { text-align: center; }
  .jb-contact-form-quote-table-info { margin: 5px 0px; }
  .jb-contact-form-quote-table-cell-label { width: 80px; font-family: "Noto Sans KR", sans-serif; font-weight: 500; }
  .jb-contact-form-quote-terms { border: 1px solid #dadada; padding: 5px 10px; font-size: 13px; }
  .jb-contact-form-quote input[type="submit"] { margin: 20px 0px; padding: 10px 18px; border: none; background-color: #444444; color: #ffffff; cursor: pointer; }
  .wpcf7-not-valid-tip { display: none; }
  .wpcf7 form .wpcf7-response-output { margin: 0px 0px 30px 0px; padding: 15px 20px; }
  span.wpcf7-list-item { margin: 0px; }
  .wpcf7-not-valid { border: 1px solid #f44336 !important; }
  @media ( min-width: 1025px ) {
    .menu-software-special-offers { float: right; }
    .jb-row-quote { margin: 0px -10px; }
    .jb-row-quote:before { display: table; content: " "; }
    .jb-row-quote:after { display: table; content: " "; clear: both; }
    .jb-column-quote-1-2 { width: 50%; float: left; padding: 0px 10px; }
   }





/* Software Special Offers */

